<!DOCTYPE html>
<html ng-app="TictactoeApp">
  <head>
    <title>TIC TAC TOE</title>
    <link rel="stylesheet" type="text/css" href="css/reset.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body ng-controller="TictactoeAppCtrl">
     <div id="game">
       <ul id="teams">
        <li ng-class="{current: current_player === players[0]}">
          <img src={{players[0].img_url}}>
          <h2>Team <span class="team"></span></h2>
          <h3 class="player">{{players[0].name}}</h3>
        </li>
        <li ng-class="{current: current_player === players[1]}">
          <img src={{players[1].img_url}}>
          <h2>Team <span class="team"></span></h2>
          <h3 class="player">{{players[1].name}}</h3>
        </li>
      </ul>
      <div id="board">
        <div ng-repeat="tile in tiles">
          <div id="tile{{tile.tileNum}}" ng-class="{tile: start, combo: tile.tileWin}" ng-click="handle_click(tile)">{{tile.tilevalue}}</div>
        </div>
      </div>
      <div id="results" ng-show="is_win(current_player)">
        <h1>Congratulations {{current_player.name}}, you win!</h1>
        <span class="image"><img src={{current_player.img_url}} /></span>
        <button ng-click="hide_indicators()">play again</button>
      </div>
      <div id="results" ng-show="is_tie(current_player)">
        <h1>It's a tie!</h1>
        <span class="image"><img src="img/rubberduckie.jpg" /></span>
        <button ng-click="hide_indicators()">play again</button>
      </div>
    </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="js/underscore.min.js"></script>
  <script src="js/tictactoe.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
   <script src="js/mytictactoe.js"></script>
   <script src="http://sugarjs.com/release/current/sugar.min.js"></script>
  </body>
</html>


